.qc-column-resize th {
    position: relative;
}
.column-resize-handle {
    position: absolute;
    width: 19px;
    right: -10px;
    height: 100%;
    cursor: ew-resize;
    top: 0;
}
.column-resize-wrapper {
    overflow: hidden;
}