.ganttChart.wrapper {
    position: relative;
    padding: 0.1px;
}
.ganttChart .calendarFrame {
    position: absolute;
    overflow-x: scroll;
    overflow-y: auto;
}

.calendar {
    position: relative;
    overflow: hidden;
}
.calendar canvas {
    display: block;
}
.calendar .dateHighlighter {
    position: absolute;
    background: lightgreen;
    z-index: 1;
}
.calendar .bar {
    position: absolute;
    background: lightblue;
    z-index: 2;
}