.gantt-chart.wrapper {
    position: relative;
    padding: 0.1px; /*padding hack to prevent collapsing margins*/
}
.gantt-chart .calendar-frame {
    position: absolute;
    overflow-x: scroll;
    overflow-y: auto;
}

.calendar {
    display: block;
}