.hover-scroller-container {
    position: relative;
}
.hover-scroller {
    overflow: hidden;
}
.hover-scroller-container .scroller {
    position: absolute;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 200;
}
.hover-scroller-container .down.scroller {
    bottom: 0;
    opacity: 0.1;
    background: url("../images/down.png") no-repeat center black;
}
.hover-scroller-container .up.scroller {
    top: 0;
    display: none;
    background: url("../images/up.png") no-repeat top center black;
}