.hoverScrollerContainer {
    position: relative;
}
.hoverScrollerContainer .scroller {
    position: absolute;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 200;
}
.hoverScrollerContainer .down.scroller {
    bottom: 0;
    opacity: 0.1;
    background: url("../images/down.png") no-repeat center black;
}
.hoverScrollerContainer .up.scroller {
    top: 30px;
    display: none;
    background: url("../images/up.png") no-repeat top center black;
}