/* Add a triangular "warning" symbol to alerts */
.dialog.alert .dialog__content::before {
    display: table-cell;
    content: '\e009';
    -webkit-font-smoothing: antialiased;
    font: normal 1.8em/0.5 'qc-font';
    color: rgb(250, 200, 50);
    padding: 0.25em 0.5em 0.25em 0;
    vertical-align: middle;
    min-height: 1.8em;
}
/* Apply a text gradient where supported */
@supports ( -webkit-background-clip: text ) {
    .dialog.alert .dialog__content::before {
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, rgb(250, 230, 50) 30%, rgb(250, 150, 50));
        color: transparent;
        background-size: 1em 1em;
        background-position: center center;
    }
}
.dialog.alert .dialog__content {
    display: table !important;
    padding: 1em 1em;
}
