/* ======================================================================
   qcode.contextMenu default css
*/

/* Context menu block (wrapper <div>, closed by default) */
.context-menu {
    display: none;
    position: fixed;
    z-index: 1;
    background: white;
    border: 1px solid rgb(150,150,150);
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.3);
}
/* Modifier to open block */
.context-menu--open {
    display: block;
}

/* <ul> element */
.context-menu__list {
    display: block;
    margin: 0;
    padding: 0.1em 0;
}

/* Single <li> */
.context-menu__item {
    display: block;
    margin: 0;
    padding: 0;
}

/* <a> */
.context-menu__link {
    display: block;
    margin: 0;
    padding: 0.5em 20px;
    color: black;
}

/* Focussed <a> */
.context-menu__link:focus {
    background: rgb(66,129,244);
    color: white;
}