/*
theadFixed plugin css

Used to create a scrollable table with a fixed thead.
The class "repainting" is used to temporarily remove this behavior
so that column widths can be recalculated
*/

/* The outermost div allows the entire table to be treated as a block-level element,
which is handy for resizing and achieving desired page flow with sensible-looking css */
.thead-fixed-wrapper:not(.repainting) {
    position: relative;
    max-height: 100%;
}

/* The middle div provides an anchor for the absolutely positioned thead,
and controls the size of the scrollable area */
.thead-fixed-wrapper:not(.repainting) .scroll-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* top: set to thead outerHeight by plugin */
}

/* The inner div provides the scrollable area. It must be statically
positioned so that the thead can be anchored outside it. */
.thead-fixed-wrapper:not(.repainting) .scroll-box {
    position: static;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}
.thead-fixed-wrapper .scroll-box {
    float: left;
}

/* The table element becomes an inline-block so that it will only take up as much
width as required by the tbody, with the tbody and thead becoming independant tables */
.thead-fixed-wrapper:not(.repainting) table {
    display: inline-block;
}

/* thead, tbody, and tfoot become separate tables. Their width is determined by their
column widths, but to use fixed layout a width must be specified, so we use 0px */
.thead-fixed-wrapper:not(.repainting) thead,
.thead-fixed-wrapper:not(.repainting) tbody,
.thead-fixed-wrapper:not(.repainting) tfoot {
    display: table;
    table-layout: fixed;
    width: 0px;
}

/* Absolutely position the thead with the bottom of the thead anchored to the top of the
middle wrapping div */
.thead-fixed-wrapper:not(.repainting) thead {
    position: absolute;
    bottom: 100%;
    left: 0;
}

/* Use border-box sizing so that we can set the widths without worrying about padding. */
.thead-fixed-wrapper:not(.repainting) th,
.thead-fixed-wrapper:not(.repainting) td {
    box-sizing: border-box;
}