span.sort {
    color: blue;
    cursor: pointer;
}
.th-sort-menu {
    background: white;
    border: solid 1px #aca899;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}
.th-sort-menu a {
    display: block;
}
.th-sort-menu a + a {
    margin-top: 4px;
}
