table.clsDbFlexGrid {	
	border-collapse:collapse;
	border-top:1px solid #aca899;
	border-left:1px solid #aca899;
	border-right:1px solid #aca899;
	border-bottom:1px solid #aca899;
}

table.clsDbFlexGrid tbody td { 
	border:1px solid #aca899;
}
table.clsDbFlexGrid th {
	border:1px solid #aca899;
	background-color:#ece9d8;
	color:black;
	font-weight:bold;
	text-align:center;
}

table.clsDbFlexGrid tr { height:20px; }

div.clsDbFlexGridDiv { 
}
